<%= form_with(model: university_subject) do |form| %>
  <% if university_subject.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(university_subject.errors.count, "error") %> prohibited this university_subject from being saved:</h2>

      <ul>
        <% university_subject.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group w-25">
    <%= form.text_field :student_code, class: "form-control", placeholder:"RA do aluno" %>
  </div>

  <div class="field form-group w-25">
    <%= form.text_field :coordinator, class: "form-control", placeholder:"Responsável por aplicar a prova" %>
  </div>

  <div class="field form-group w-25">
    <%= form.text_field :bimester, class: "form-control", placeholder: "Bimestre" %>
  </div>

  <div class="field form-group w-25">
    <%= form.text_field :grade, class: "form-control", placeholder: "Nota" %>
  </div>

  <div class="field form-group w-25">
    <%= form.text_area :comment, class: "form-control", placeholder: "Comentário" %>
  </div>

  <div class="field form-group w-25">
    <%= form.number_field :professor_id, id: :university_subject_professor_id, class: "form-control", value: current_user.id, type: :hidden  %>
  </div>

  <div>
    <%= form.submit 'Criar Nova Nota', class: 'btn btn-secondary' %>
  </div>
<% end %>
