<div id="<%= dom_id university_subject %>">
  <td>
    <%= university_subject.student_code %>
  </td>

  <td>
    <%= university_subject.coordinator %>
  </td>

  <td>
    <%= university_subject.bimester %>
  </td>

  <td>
    <%= university_subject.grade %>
  </td>

  <td>
    <%= university_subject.comment %>
  </td>

  <td>
    <%= link_to 'Exibir', university_subject, class: 'btn btn-primary' %>
  </td>

  <% if university_subject.professor == current_professor %>
    <td>
      <%= link_to 'Editar', edit_university_subject_path(university_subject), class: 'btn btn-secondary' %>
    </td>
    <td>
      <%= link_to 'Deletar', university_subject, method: :delete, data: { confirm: "Tem certeza que deseja deletar esta nota?" }, class: 'btn btn-danger' %>
    </td>
  <% else %>
    <td></td>
    <td></td>
  <% end %>
</div>
