<div id="<%= dom_id university_subject %>">
  <p>
    <strong>Name:</strong>
    <%= university_subject.name %>
  </p>

  <p>
    <strong>Coordinator:</strong>
    <%= university_subject.coordinator %>
  </p>

  <p>
    <strong>Bimester:</strong>
    <%= university_subject.bimester %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= university_subject.grade %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= university_subject.comment %>
  </p>

</div>
